<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    	똑같은 interestingCity를 추가할수 없습니다.
    	<a href="../myPage">마이페이지로</a>
  </body>
</html>