<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chatMain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type="text/css" href="/stylesheets/style.css">
   <link rel="stylesheet" href="/jQuery-ui/jquery-ui.css" type="text/css" media="all" />
<script src="/jQuery/jquery-1.12.0.js" type="text/javascript"></script>
<script src="/jQuery-ui/jquery-ui.js" ></script>
    <script src ='/javascripts/searchbarSrc.js'></script>
<script src ='/javascripts/commonSrc.js'></script>	
  </head>




  <body>
<!--container-->
    <div id="yj-container">
      <div id="yj-nav">
			<img class="logo" src="../../사진/사진이다.jpg" onclick="location.href='/'" style="cursor: pointer">
      </div>

  <!--chat main-->
      <div id="yj-content">
        <div id="sendwich-box">
          <h3>SendwicH</h3>
        </div>
        <div id="chat-room">
          <div id="chat-nickname">
            <a id="chat-nciknamelink"href="#">jwwweqefSWEFWFWeeee
            </a>
          </div>
          <div id="chat-writing">
            만나요 만나요 은지보고싶다 tlqkfkk시바라라바랄바라발바라바랍랍라밟라ㅓㅂ라ㅓ바러ㅏ
          </div>
          <div id="chat-number">
            3
          </div>
          <div id="chat-cancel">
            x
          </div>
        </div>
    
        
      </div>
      
<!--go to main logo-->
      <div id="goToTopLogo" onclick="window.scrollTo(0,0)" style="cursor: pointer">
      </div>

<!--menubar-->
  <div id="yj-menubar">
        <ul class="menubar">
          <li id="menu" class="menu-li"><a href="#">menu</a>
            <ul>
              <li><a href="/myPage">my page</a></li>
              <li><a href="/chatMain">chat</a></li>
              <li><a href="#">search by map</a></li>
              <li><a href="/option">option</a></li>
              <li><a href="/main">go to main</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          <li id="searchbar" class="menu-li">
            <input type="search" id="i-searchbar">
          </li>
          <li id="calender1" class="menu-li">
            <input type="button" id="from">
          </li>
          <p id="flow">~</p>
          <li id="calender2" class="menu-li">
            <input type="button" id="to">
          </li>
          <li id="searchbutton" class="menu-li">
            <input id="i-searchbutton" type="button" value="search" onclick="addSearching()" style="cursor: pointer">
          </li>
        </ul>
      </div>
    </div>
    <input id="selectedCityName" type="hidden">
    <input id="selectedCountryName" type="hidden">
    <input id="selectedCityId" type="hidden">
<script src="http://<%=socketIP%>:3001/socket.io/socket.io.js"></script>
<script src ='/javascripts/connectionSrc.js'></script>

  </body>
</html>