<!DOCTYPE HTML>
<html class="LoginPage">
   <head>
      <title><%= title %></title>
      <meta charset="UTF-8">
      <link rel='stylesheet' type="text/css" href='/stylesheets/common.css'/>
      <link rel='stylesheet' type="text/css" href='/stylesheets/loginPage.css'/>
         
         <script src = '/javascripts/loginPageSrc.js' /></script>
   </head>
<body>
   
   <div id="LoginPage-a">
      <div id="a-LogIn1">
         <img id="a-Logo" src="/images/이미지들2/Logo.png">
      </div>

      <div id="a-LogIn2">
         <form id="a-form" action="" method="">
           <table id="a-Table">
             <tbody>
                <tr>
                     <td>
                         <label for="a-Id2">
                             <img id="a-Id1" src="/images/이미지들2/ID.png">
                         </label>
                     </td>
                     <td>
                          <input type="email" name="email" id="a-Id2" placeholder="e-Mail">
                     </td>
                     <td rowspan="2">
                         <input id="a-LogInButton" type="image" name="Login" src="/images/이미지들2/log-in.png" border="0">
                     </td>
                 </tr>
                 <tr>
                    <td>
                         <label for="a-Pw2">
                             <img id="a-Pw1" src="/images/이미지들2/PW.png">
                         </label>
                     </td>
                     <td>
                          <input type="password" name="password" id="a-Pw2" placeholder="********">
                     </td>
                 </tr>
             </tbody>
            </table>
          </form>
      </div>

      <div id="a-LogIn3">
         <div id="a-Bar">
         </div>
         <form id="a-form1" action="" method="">
            <input id="a-SignIn" type="image" src="/images/이미지들2/회원가입.png" border="0">
          </form>
      </div>
   </div>
</body>
</html>