<!DOCTYPE HTML>
<html class="LoginPage">
	<head>
		<title><%= title %></title>
		<meta charset="UTF-8">
		<link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
			<style>
			input:hover {background: #22E2BF;}
			</style>
			<script src = '/javascripts/loginPageSrc.js' /></script>
	</head>
<body>
	<div class="LOGIN3">
		<div class="LOGIN1">
			<img src="../../사진/사진이다.jpg" width="200px" height="260px">
		</div>
		<div class="LOGIN2">
			<img src="../../사진/사진3.jpg" width="180px" height="90px" />
			<form name="login" method="post" onsubmit="return chkLogin()">
				<p>
					<input name="useremail" type="email" placeholder="e-mail">
				</p>
				<p>
					<input name="userPWD" type="password" placeholder="********">
				</p>
				<p>
					<input name="btn1" type="button" value="            sign-up            " onclick="location.href='/signUp'">
				</p>
				<p>
					<input name="btn2" type="submit" value="Login" >
					<input name="btn3" type="button" value="Facebook Login" onklick="">
				</p>
			</form>
		</div>
	</div>
</body>
</html>