<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    	회원가입이 완료되었습니다. 다시 로그인 해주세요
    	<a href="../">로그인 화면으로</a>
  </body>
</html>